name: OpenWrt-CI-x86_64 (ImageBuilder)

on:
  workflow_dispatch:

jobs:
  build_openwrt:
    name: Build OpenWrt firmware
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
#   - name: Test
#     run : |
#       read -p "pause"

    - name: Initialize environment
      uses: ./.github/actions/init

    - name: Prepare SDK
      run : |
        SDK=$(curl -s https://downloads.openwrt.org/releases/${{env.ver}}/targets/x86/64/ | grep -oP 'href="\Kopenwrt-sdk-${{env.ver}}[^"]*"' | tr -d '"')
        wget -q https://downloads.openwrt.org/releases/${{env.ver}}/targets/x86/64/$SDK
        mkdir -p openwrt
        tar --zstd -xf openwrt-sdk-*.tar.zst -C openwrt --strip-components=1

    - name: Prepare builddir
      uses: ./.github/actions/builddir

#   - name: Generate configuration
#     working-directory: ./openwrt
#     run : |
#       git checkout ${{env.tag}}
#       rm -f ./.config*
#       curl -Ls https://downloads.openwrt.org/releases/${{env.ver}}/targets/x86/64/config.buildinfo | grep -e CONFIG_TARGET_ -e CONFIG_KERNEL_ -e CONFIG_PACKAGE_ -e CONFIG_VERSION_ >> ./.config
#       sed -i 's/CONFIG_TARGET_MULTI_PROFILE=y/CONFIG_TARGET_MULTI_PROFILE=n/' ./.config
#       sed -i 's/CONFIG_TARGET_PER_DEVICE_ROOTFS=y/CONFIG_TARGET_PER_DEVICE_ROOTFS=n/' ./.config
#       sed -i 's/CONFIG_TARGET_ALL_PROFILES=y/CONFIG_TARGET_ALL_PROFILES=n/' ./.config

    - name: Cache OpenWrt build directories
      uses: actions/cache@v4
      with:
        path: |
          ./openwrt/dl
          ./openwrt/build_dir
          ./openwrt/staging_dir
          ./openwrt/bin/targets
        key: ${{ runner.os }}-openwrt-${{ env.tag }}-cache
        restore-keys: |
          ${{ runner.os }}-openwrt-${{ env.tag }}-
          ${{ runner.os }}-openwrt-

    - name: Cache ccache
      uses: actions/cache@v4
      with:
        path: ~/.ccache
        key: ${{ runner.os }}-ccache
        restore-keys: |
          ${{ runner.os }}-ccache

    - name: Enable ccache
      run: |
        echo 'export CC="ccache gcc"' >> $GITHUB_ENV
        echo 'export CXX="ccache g++"' >> $GITHUB_ENV

    - name: Compile packages
      working-directory: ./openwrt
      run : |
        make defconfig
        cp ./.config ./config.raw

        # make package/smartdns/compile -j$(nproc)
        # make package/luci-app-smartdns/compile -j$(nproc)

    - name: Build image
      run : |
        wget -q https://downloads.openwrt.org/releases/${{env.ver}}/targets/x86/64/openwrt-imagebuilder-${{env.ver}}-x86-64.Linux-x86_64.tar.zst
        mkdir -p openwrt-imagebuilder
        tar --zstd -xf openwrt-imagebuilder-*.tar.zst -C openwrt-imagebuilder --strip-components=1
        cd openwrt-imagebuilder/

        mkdir -p ../openwrt/bin/packages/
        MYPKG=$(find ../openwrt/bin/packages/ -type f -regex '.*\.\(ipk\|apk\)$')
        [ "$MYPKG" ] && cp -rf $MYPKG ./packages/

        PRELIST=$(curl -s https://downloads.openwrt.org/releases/${{env.ver}}/targets/x86/64/openwrt-${{env.ver}}-x86-64.manifest | awk '{print$1}' | grep -Ev 'dnsmasq|package2')

        MYLIST="
        kmod-bnx2x
        kmod-mt7921e
        kmod-bnx2x
        kmod-mt7921e
        kmod-tcp-bbr
        kmod-macvlan
        kmod-fs-ext4
        kmod-nft-tproxy
        kmod-nft-netdev
        bnx2x-firmware
        libcap-bin
        wpad-mbedtls
        coreutils
        coreutils-base64
        coreutils-sha1sum
        ca-certificates
        dnsmasq-full
        ethtool-full
        ip-full
        nano
        curl
        openssh-sftp-server
        irqbalance
        tcpdump
        iperf3
        fdisk
        parted
        losetup
        resize2fs
        lsblk
        blkid
        block-mount
        conntrack
        bind-dig
        drill
        bash
        pciutils
        proxychains-ng
        htop
        hostapd-utils
        uxc
        sudo
        python3-pip
        xxd
        cifsmount
        screen
        ncat-full
        collectd-mod-thermal
        collectd-mod-exec
        collectd-mod-conntrack
        collectd-mod-ipstatistics
        collectd-mod-processes
        collectd-mod-tcpconns
        collectd-mod-uptime
        collectd-mod-ping
        collectd-mod-dns
        xray-core
        luci-proto-wireguard
        luci-app-wol
        luci-app-ddns
        luci-app-mwan3
        luci-app-samba4
        luci-app-vnstat2
        luci-app-statistics
        luci-app-natmap
        luci-app-upnp
        luci-app-dockerman
        luci-lib-docker
        "

        DELIST="
        "

        cp ./.config ../openwrt/config.raw
        make image \
          PACKAGES="-dnsmasq $(echo "$PRELIST $MYLIST" | tr '\n' ' ' | tr -s ' ')" \
          FILES="../openwrt/files" \
          BIN_DIR="../openwrt/bin/targets" \
          ROOTFS_PARTSIZE="1024"

    - name: Prepare artifact
      uses: ./.github/actions/artifact
