name: OpenWrt-CI-x86_64 (ImageBuilder)

on:
  workflow_dispatch:

jobs:
  build_openwrt:
    name: Build OpenWrt firmware
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
#   - name: Test
#     run : |
#       read -p "pause"

    - name: Initialize environment
      uses: ./.github/actions/init

    - name: Prepare Buildroot
      uses: ./.github/actions/buildroot
      with:
        mode: sdk

    - name: Custom x86-64
      uses: ./.github/actions/custom/x86-64

    - name: Compile packages
      working-directory: ./openwrt
      run : |
        make defconfig
        cp ./.config ../artifact/buildinfo/config.sdk

        # make package/smartdns/compile -j$(nproc)
        # make package/luci-app-smartdns/compile -j$(nproc)

    - name: Prepare ImageBuilder
      run : |
        IMB=$(curl -s https://downloads.openwrt.org/releases/${{env.ver}}/targets/${{env.target}}/ | grep -oP 'href="\Kopenwrt-imagebuilder-${{env.ver}}[^"]*"' | tr -d '"')
        wget -q https://downloads.openwrt.org/releases/${{env.ver}}/targets/${{env.target}}/$IMB
        mkdir -p openwrt-imagebuilder
        tar --zstd -xf openwrt-imagebuilder-*.tar.zst -C openwrt-imagebuilder --strip-components=1

    - name: Build image
      working-directory: ./openwrt-imagebuilder
      run : |
        mkdir -p ../openwrt/bin/packages/
        MYPKG=$(find ../openwrt/bin/packages/ -type f -regex '.*\.\(ipk\|apk\)$')
        [ "$MYPKG" ] && cp -rf $MYPKG ./packages/

        PRELIST=$(curl -s https://downloads.openwrt.org/releases/${{env.ver}}/targets/${{env.target}}/openwrt-${{env.ver}}-${{env.board}}-${{env.subtarget}}.manifest | awk '{print$1}' | grep -Ev 'dnsmasq|package2')

        MYLIST="
        kmod-bnx2x
        kmod-mt7921e
        kmod-bnx2x
        kmod-mt7921e
        kmod-tcp-bbr
        kmod-macvlan
        kmod-fs-ext4
        kmod-nft-tproxy
        kmod-nft-netdev
        bnx2x-firmware
        libcap-bin
        wpad-mbedtls
        coreutils
        coreutils-base64
        coreutils-sha1sum
        ca-certificates
        dnsmasq-full
        ethtool-full
        ip-full
        nano
        curl
        openssh-sftp-server
        irqbalance
        tcpdump
        iperf3
        fdisk
        parted
        losetup
        resize2fs
        lsblk
        blkid
        block-mount
        conntrack
        bind-dig
        drill
        bash
        pciutils
        proxychains-ng
        htop
        hostapd-utils
        uxc
        sudo
        python3-pip
        xxd
        cifsmount
        screen
        ncat-full
        collectd-mod-thermal
        collectd-mod-exec
        collectd-mod-conntrack
        collectd-mod-ipstatistics
        collectd-mod-processes
        collectd-mod-tcpconns
        collectd-mod-uptime
        collectd-mod-ping
        collectd-mod-dns
        xray-core
        luci-proto-wireguard
        luci-app-wol
        luci-app-ddns
        luci-app-mwan3
        luci-app-samba4
        luci-app-vnstat2
        luci-app-statistics
        luci-app-natmap
        luci-app-upnp
        luci-app-dockerman
        luci-lib-docker
        "

        DELIST="
        "

        cp ./.config ../artifact/buildinfo/config.imb
        make image \
          PACKAGES="-dnsmasq $(echo "$PRELIST $MYLIST" | tr '\n' ' ' | tr -s ' ')" \
          FILES="$GITHUB_WORKSPACE/openwrt/files" \
          BIN_DIR="$GITHUB_WORKSPACE/openwrt/bin/targets" \
          ROOTFS_PARTSIZE="1024"

        cp *ext4-combined-efi* ../artifact/firmware/

    - name: Deliver artifact
      uses: ./.github/actions/artifact
